.align-center{
    text-align: center; /* center checkbox horizontally */
}
.form-check-input{
    margin-left: -0.5rem !important;
}

.padding-left{
    padding-left:4%;
}


.table td{

    white-space:nowrap !important;

}


table
{
    width: 100%;
}

table td:last-child{
    width:100% !important;
}
