<div class="card">

    <div class="card-body">  
      <div class="row">
        <div class="col-sm-8">
        <h2>Pneumolog Information</h2>
        <hr />
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>Anrede:</td>
              <td>{{pneumologist?.anrede}}</td>
            </tr>
            <tr>
              <td>Vorname:</td>
              <td>{{pneumologist?.vorname}}</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td>{{pneumologist?.name}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>  
      </div>
      <div class="col-sm-4" style="margin-top:50px;">
        <p>Unterschrift:</p>
        <div class="form-group row" *ngIf="!hasSignature">
            <label class="col-sm-2" for="unterschrift"></label>
            <input type="file" (change)="onFileSelected($event)" accept=".png,.jpg" />
            <button type="button"(click)="uploadSignature()">Upload</button>
        </div>
        <div>
          <img [src]="signature" height="200" *ngIf="signature">
          <p>Unterschrift anpassen:</p>
          <label class="col-sm-2" for="unterschrift"></label>
          <input type="file" (change)="onFileSelected($event)" accept=".png,.jpg" />
          <button type="button"(click)="uploadSignature()">Upload</button>
        </div>

        
      </div>
  
    </div>
  </div>
  <div class="col-sm-12">
      <h2>Patientenliste</h2>
      <hr />
      <table class="table">
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Geburtsdatum</th>
              <th></th>
      
            </tr>
          </thead>
          <tbody *ngFor="let patient of patients">
            <tr>
            
              <td>{{patient?.vorname}}</td>
              <td>{{patient?.name}}</td>
              <td>{{patient?.geburtsdatum | date: 'dd. MMMM yyyy'}}</td>
              <td><a routerLink="../../../clients/show/{{patient.id}}"class="btn btn-primary" ngbTooltip="Patient betrachten"><i class="icon-eye white"></i></a>
              <a class="btn btn-danger"><i class="icon-trash white" ngbTooltip="Patient entfernen"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>  