<h1>Übersicht</h1>
<div class="animated fadeIn">
  <div class="card">
    <p>Hier können Sie entscheiden ob Sie neue Daten (Trainings, Patienten) erfassen möchten, oder ob Sie vorhandene Daten ändern oder bearbeiten möchten.</p>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1. Schritt Neues Training erfassen</li>
        <li class="list-group-item">2. Schritt Neue Patienten erfassen</li>
        <li class="list-group-item">3. Schritt Patienten in Trainingsprogramme aufnehmen, Fragebogen freigeben</li>
        <li class="list-group-item">Messdaten eingeben, Aufgebote drucken, Reporte ansehen</li>
        <li class="list-group-item">Patientenakten schliessen</li>
        <li class="list-group-item">Trainingsakten schliessen</li>
        <li class="list-group-item">Statistiken dieser Sektion ansehen</li>
        <li class="list-group-item">Ausloggen</li>
      </ul>
    </div>
  </div>
</div>


