.align-center{
    text-align: center; /* center checkbox horizontally */
}
.low{
    background-color: #68f487;
}

.medium{
    background-color: #e3f971;
}

.high{
    background-color: #f49898;
}

td{
    cursor: pointer; 
}