<div class="card" *ngIf="loaded">
  <div class="card-body" *ngIf="showCalendar">
  <h2>Verfügbarkeit Trainings {{location}} </h2>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th class="align-center" scope="col">Kurs 1</th>
        <th class="align-center" scope="col">Kurs 2</th>
        <th class="align-center" scope="col">Kurs 3</th>
        <th class="align-center" scope="col">Kurs 4</th>
        <th class="align-center" scope="col">Kurs 5</th>
        <th class="align-center" scope="col">Kurs 6</th>
        <th class="align-center" scope="col">Kurs 7</th>
        <th class="align-center" scope="col">Kurs 8</th>
        <th class="align-center" scope="col">Kurs 9</th>
        <th class="align-center" scope="col">Kurs 10</th>
        <th class="align-center" scope="col">Kurs 11</th>
        <th class="align-center" scope="col">Kurs 12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> Freie Plätze</th>
        <td (click)="routeTraining(0)"  class="align-center" [ngClass]="{'low': isLow(jan),'medium': isMedium(jan), 'high': isHigh(jan)}">{{jan}}</td>
        <td (click)="routeTraining(1)"  class="align-center" [ngClass]="{'low': isLow(feb),'medium': isMedium(feb), 'high': isHigh(feb)}">{{feb}}</td>
        <td (click)="routeTraining(2)"  class="align-center" [ngClass]="{'low': isLow(marz),'medium': isMedium(marz), 'high': isHigh(marz)}">{{marz}}</td>
        <td (click)="routeTraining(3)"  class="align-center" [ngClass]="{'low': isLow(apr),'medium': isMedium(apr), 'high': isHigh(apr)}">{{apr}}</td>
        <td (click)="routeTraining(4)"  class="align-center" [ngClass]="{'low': isLow(mai),'medium': isMedium(mai), 'high': isHigh(mai)}">{{mai}}</td>
        <td (click)="routeTraining(5)"  class="align-center" [ngClass]="{'low': isLow(jun),'medium': isMedium(jun), 'high': isHigh(jun)}">{{jun}}</td>
        <td (click)="routeTraining(6)"  class="align-center" [ngClass]="{'low': isLow(jul),'medium': isMedium(jul), 'high': isHigh(jul)}">{{jul}}</td>
        <td (click)="routeTraining(7)"  class="align-center" [ngClass]="{'low': isLow(aug),'medium': isMedium(aug), 'high': isHigh(aug)}">{{aug}}</td>
        <td (click)="routeTraining(8)"  class="align-center" [ngClass]="{'low': isLow(sep),'medium': isMedium(sep), 'high': isHigh(sep)}">{{sep}}</td>
        <td (click)="routeTraining(9)"  class="align-center" [ngClass]="{'low': isLow(okt),'medium': isMedium(okt), 'high': isHigh(okt)}">{{okt}}</td>
        <td (click)="routeTraining(10)"  class="align-center" [ngClass]="{'low': isLow(nov),'medium': isMedium(nov), 'high': isHigh(nov)}">{{nov}}</td>
        <td (click)="routeTraining(11)"  class="align-center" [ngClass]="{'low': isLow(dez),'medium': isMedium(dez), 'high': isHigh(dez)}">{{dez}}</td>
      </tr>

    </tbody>
  </table>

  </div>
</div>