<div class="card">
    <div class="card-body">
    <h2>Pneumolog/in bearbeiten</h2>
    <hr />
  
    <form (ngSubmit)="onSubmit()" #pneumoForm="ngForm" *ngIf="showForm">
  
  
        <div class="form-group row">
            <label class="col-sm-2" for="anrede">Anrede</label>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="pneumologist.anrede" name="anrede" id="anrede" >
                    <option value="Dr. med" >Dr. med.</option>
                    <option value="Herr">Herr</option>
                    <option value="Frau">Frau</option>
                </select>
            </div>
        </div>
  
        <div class="form-group row">
            <label class="col-sm-2" for="vorname">Vorname</label>
            <div class="col-sm-10">
                <input [(ngModel)]="pneumologist.vorname" type="text" class="form-control" id="vorname"  placeholder="Vorname" name="vorname" >
       
            </div>
            
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="name">Name</label>
            <div class="col-sm-10">
              <input [(ngModel)]="pneumologist.name" type="text" class="form-control" id="name" placeholder="Name" name="name" >
            </div>
            
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="password">Passwort</label>
            <div class="col-sm-10">
              <input [(ngModel)]="pneumologist.password" type="password" class="form-control" id="password" placeholder="Passwort" name="password" >
            </div>
            
        </div>

            
        <button type="submit" class="btn btn-primary" [disabled]="!pneumoForm.form.valid">Speichern</button>
    </form>
    </div>
  </div>