<div class="card">
  <div class="card-body">
    <form>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="btnGroupAddon2"><i class="icon-magnifier"></i></span>
        </div>
        <input type="text" class="form-control suche" name="searchString" placeholder="Suche" [(ngModel)]="searchString">
        <a routerLink="create" class="btn btn-primary"><i class="icon-user-follow" ngbTooltip="Patient erstellen"></i></a>
      </div>
    </form>
  <table class="table" style="margin-top:10px;">
    <thead>
      <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Geburtsdatum</th>
        <th>Wohnort</th>
        <th></th>

      </tr>
    </thead>
    <tbody *ngFor="let patient of patients | filter : 'name' : searchString;">
      <tr>
        <td>{{patient?.name}}</td>
        <td>{{patient?.vorname}}</td>
        <td>{{patient?.geburtsdatum | date: 'dd. MMMM yyyy'}}</td>
        <td>{{patient?.wohnort}}</td>
        <td><a routerLink="show/{{patient.id}}" ngbTooltip="Patient betrachten" class="btn btn-primary"><i class="icon-eye white"></i></a>
        <!--<a routerLink="edit/{{patient.id}}"class="btn btn-primary" ngbTooltip="Patient bearbeiten" ><i class="icon-pencil white"></i></a>-->
        <a (click)="openModal(content, patient.id)" class="btn btn-danger" ngbTooltip="Patient löschen" ><i class="icon-trash white"></i></a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Patient löschen</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>Sind Sie sicher das Sie diesen Patienten löschen möchten</p>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="deletePatient(patientId)" class="btn btn-danger">Ja</button>
    <button (click)="c('Save click')" class="btn btn-light">Nein</button>
  </div>
</ng-template>